body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Created Header */

.navbar {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8
}

.nav-links {
    display: flex;
    margin-left: auto;
    color: white;
    font-size: 18px;

}

.header-logo {
    padding: 5px;
}

a {
    text-decoration: none;
    padding: 5px;
}

a:visited {
    text-decoration: none;
    color: white;
}
