body {
    background-color: rgb(81, 255, 0);
    height: 100vh;
    font-family: Roboto;
    text-align: center;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

.header {
    display:flex;
    align-items: center; 
}

.hero, .subtext {
    color:black;
    display: flex;
    align-items: center;
}
button {
    padding: 20px;
    margin: auto;
    align-self: center;
}


.container {
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
    height: 400px;
    
}


.header-link {
    display: flex;
    margin-left:  auto;
    text-decoration: none;
    

}

.logo {
    font-size: 24px;
    color: #000000;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-basis: 400px; 
}
.content {
    background-color: rgb(9, 222, 250);
   font-weight: bolder;
   text-align: center;
   padding: 65px;
}
    h1{
    text-align: center;
}
.boxes {
    gap: 32px;
    display: flex;
    justify-content: center;
}

.box {
    max-width: 100px;
    color: black;
}

.box-img {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(180deg, red, blue);
    border-radius: 20px;
}
.quote {
    padding:80px 35%;
    background-color: orange;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color:#1F2937;
    text-shadow: 0 0 5px #f9faf8,
    0 0 15px #f9faf8,
    0 0 30px #f9faf8;
}

