body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav-links {
    color: #F9FAF8;
    font-size: 18px;

}

.header-logo {
    padding: 5px;
    font-size: 24px;
    color: #F9FAF8;

}

a {
    text-decoration: none;
    padding: 5px;
}

a:visited {
    text-decoration: none;
    color: #F9FAF8;
}

/* Hero */

.hero-container {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 50px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 15px;
}

.hero-main-text {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
}

.hero-secondary-text {
    font-size: 18px;
    color: #F9FAF8;
}

/* Content */

.hero-button {
    display: block;
    width: 100px;
    border-radius: 6px;
    border: 0;
    text-decoration: none;
    padding: 10px;
    background-color: skyblue
}


.hero-img img {
    width: 400px;
    height: 450px;
}


.cards {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.card {
    max-width :175px;
    color: rgb(24, 71, 202);
}

.card:hover {
    color: orange;
}

.content h2 {
    padding:50px;
    font-size: 36px;
    
}

.card-img {
    width:200px;
    height:144px;
    background-color: rgb(28, 127, 240);
    border-radius: 15px;
}

.card-img:hover {
    transform:scale(1.05);
}

/* Quote */

.quote {
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-txt {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    width: 50%;
    padding: 30px;
    color: #1F2937;
}

.quote p {
    padding-bottom: 20px;
    margin-left: 20%;
}

/* Sign-up */

.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 50px 400px;
    padding: 20px;
    border-radius: 5px;
    border-color: none;
}

.signs-text {
    text-align: left;

}

.signs-button button {
    padding: 5px 25px;
    border-radius: 8px;
}

footer {
    background-color: #1F2937;
    color: #fff;
}    